body {  
    font-family: Arial;  
    padding: 20px;  
    background: #f4f4f4;  
}  
h1 {  
    color: #1c4c96;  
    text-align: center;  
}  
ul {  
    line-height: 1.8; 
    border: 1px solid black; 
}  
button {  
    padding: 10px;  
    background: black;  
    color: white;  
    border-radius: 5px;  
} 
#h1{
    position: relative;
    color:rgb(150, 71, 15) ;
} 
.container {  
    display: flex;  
    gap: 20px;  
} 
div{
    background-color:#a9eabf ;
  
}
